{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ Product.title }}</h1>
<p><b>{{ Product.get_category_display }}</b>{% if Product.is_featured %} | 
    <b>Featured</b>{% endif %}{% if Product.is_Product_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ Product.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ Product.Product_views }}</p>

{% if Product.thumbnail %}
<img src="{{ Product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ Product.content }}</p>

{% endblock content %}